<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form method="post">

<!--  {% for field in form %}-->
<!--  <input type="text" name="{{ field.name }}" placeholder="{{ field }}">-->

<!--  {% endfor %}-->
  <input type="text" name="name" placeholder="name"><br>
  <input type="text" name="first_name" placeholder="first_name"><br>
  <input type="text" name="last_name" placeholder="last_name"><br>
  <input type="text" name="username" placeholder="username"><br>
  <input type="text" name="email" placeholder="email"><br>
  <input type="text" name="password" placeholder="password"><br>
  <input type="submit" value="Create">
</form>
</body>
</html>
