<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form method="post">
  <input type="text" name="name" placeholder="name" value="{{user.name}}"><br>
  <input type="text" name="first_name" placeholder="first_name" value="{{user.first_name}}"><br>
  <input type="text" name="last_name" placeholder="last_name" value="{{user.last_name}}"><br>
  <input type="text" name="username" placeholder="username" value="{{user.username}}"><br>
  <input type="submit" value="Update">
  <a href="/admin/users/delete/{{user.id}}">Delete</a>
</form>
</body>
</html>
